.ListComponent {
    width:800px;
    margin:auto;
    margin-bottom: 20px;
    max-height: 350px;
    min-height: 350px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
  